.site-main {
  .subcribe-us-area {
    .subscribe {
      background: url(../img/subscribe-bg.png) no-repeat;
      padding: 10rem 0;
      margin: 3rem auto;
      .subscribe-text {
        h4 {
          font: normal 700 30px/30px $saira;
          color: whitesmoke;
        }
        p {
          color: whitesmoke;
          padding: 1rem 4rem;
        }
      }
      form {
        .input-textbox {
          input {
            width: 400px;
            padding: 1.5rem 1rem;
            border: 1px solid whitesmoke;
            background: transparent;
            color: whitesmoke;
            font: normal 500 17px/20px $saira;
            &::placeholder {
              color: whitesmoke;
              font-family: $saira;
            }
          }
        }
        .btn-submit {
          button {
            background: whitesmoke;
            color: #000;
            padding: 0.7rem 2rem;
          }
        }
      }
    }
  }
}
